.splash {
  font-size: larger;
  text-align: center;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  padding: 2em;
}

.splash img {
  width:  150px;
  margin: 0 auto;
}

.splash.processing {
  background-color: rgba(128, 128, 128, .4) !important;
  pointer-events: none;
}
