<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Ace by DAISY</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div id="react-root"></div>
    <script type="text/javascript">
      // disables default behavior for dropping items
      document.ondragover = (e) => {
        return false;
      }
      document.ondragleave = (e) => {
        return false;
      }
      document.ondrop = (e) => {
        e.preventDefault();
        return false;
      }
  </script>
  </body>
</html>
